.Father {
    width: 100vw;
    height: 100vh;
}

.Father select{
    font-size: 1.1vw;
}

.Cambio {
    font-size: 1.2vw;
}

.ToForm {
    height: 4vh;
    width: auto;
}

.HomeDiv {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
    padding: 5px
}

.Spanito {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 1px;
    font-size: 1.2vw;
    font-weight: 500;
}