.HomeDiv {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
    padding: 5px
}

.Spanito {
    background-color: rgb(179, 178, 178);
    border: 1px solid black;
    border-radius: 2px;
}