.Card {
    position: relative;
    width: 25vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-color: white;
    text-align: left;
}

.Card h3 {
    font-size: 1.3rem;
}

.Card img {
    height: 30vh;
    max-width: 23vw;
}

.Card > .Link > h2 {
    text-decoration: none;
    font-size: 1.8rem;
}

.Link {
    text-decoration: none;
}