.Land {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.Entrada {
    font-size: 7vw;
    font-family: 'Trebuchet MS';
    background-color: lightgray;
    opacity: 0.8;
    border: 2px dashed black;
    cursor: pointer;
}